.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.Carpincho {
  position: absolute;
  align-self: flex-end;
  max-height: 20%;
}

.Persistencia-Acciones {
  position: absolute;
  right: 0;
  top: 95%;
  margin: 1rem;
  justify-content: space-between;
  display: flex;
  width: 8rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
